nav{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background: linear-gradient(180deg, #FD3E6A 0%, rgba(98, 71, 133, 0.640625));
}

body{
    font-family: 'Roboto', sans-serif;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background: linear-gradient(180deg, #FD3E6A 0%, rgba(98, 71, 133, 0.640625));

}
.row {
    margin-top: auto;
    align-items: center;
    justify-content: center;
}